.partners {
    padding: 75px 0;

    .container {
        text-align: center;

        h6 {
            margin: 0 0 50px 0;
            font-size: 40px;
        }

        p {
            margin: 0 0 40px 0;
        }

        .partners-box {
            display: flex;
            flex-wrap: wrap;

            .item {
                width: 25%;
                padding: 20px;
                display: flex;
                justify-content: center;
                align-items: center;

                @media (max-width: 900px) {
                    width: calc(100% / 3);
                }

                @media (max-width: 600px) {
                    width: 50%;
                }

                img {
                    display: block;
                    max-width: 100%;
                }
            }
        }
    }
}